<div>
  <h1 style="text-align:center">
      Hello {{ title }}!
  </h1>
</div>
<div>
  <h2 style="text-align:center">
      Available Room {{ getAvailableRoom() }}
  </h2>
</div>
<br>
<div style="text-align:center">
    <input type="number" [(ngModel)]="availableRoom"/>
</div>
<br>
<div style="text-align:center">
  <button (click)="reserveRoom()" [disabled]="checkAvailableRoom()">Reserve A Room </button>
</div>
<br>
<div style="text-align:center">
  <input type="text" (input)="show($event)"/>
  <h4>{{ showName }}</h4>
</div>
<div style="text-align:center">
  <input (input)="username = $event.target.value">
  <h4>{{ username }}</h4>
</div>
<div style="text-align:center;">
  <p [ngClass]="[styles]">
    Welcome {{ guest }}
  </p>
</div>
<div style="text-align:center">
  <h4>Login {{ isAdmin }}</h4>
  <button (click)=switchUser()>Switch User</button>
  <!-- <button (click)="isAdmin = !isAdmin">Switch User</button> -->
</div>
